$color-button:#094D84;
$color-white:#FFFFFF;
$color-yellow1:#FACD19;
$color-yellow2:#FCAF16;
$color-grey1:#EBEEF1;
$color-heading:#051F34;
$color-text1:#212B36;
$color-text2:#637381;
$color-text3:#454F5B;
$color-border:#C4CDD5;
$color-error:#FD1F1F;
$color-hover:#1F6298;
$color-disable:#094D84;
$color-success:#50B83C;
$color-close:#707070;